spawn-at-startup "~/.config/agility-shell/start.sh"

layout {
    background-color "transparent"
}

layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^agility-shell-applet$"
    background-effect {
        xray false
        saturation 1.0
      	noise 0
    }
}

layer-rule {
    match namespace="^agility-shell-notifications$"
    background-effect {
        xray false
        saturation 1.0
      	noise 0
    }
}

layer-rule {
    match namespace="^agility-shell-bar$"
    background-effect {
        xray false
        saturation 1.0
      	noise 0
    }
}

layer-rule {
    match namespace="^agility-shell-osd$"
    background-effect {
        xray false
        saturation 1.0
      	noise 0
    }
}

layer-rule {
    match namespace="^agility-shell-dash$"
    background-effect {
        saturation 1.0
      	noise 0
    }
}

overview {
    workspace-shadow {
        off
    }
}

binds {
    Mod+Space { spawn "fabric-cli" "exec" "agility-shell" "bar_manager.toggle('Dash')"; }
    Super { spawn "fabric-cli" "exec" "agility-shell" "bar_manager.toggle('Dash')"; }
}

